:root {
    --onyx: #474448ff;
    --raisin-black: #2d232eff;
    --grape: #94618e;
    --cool-gray: #9a94bcff;
    --rose-quartz: #9888a5ff;
    --pure-white: #ffffff; /* Detail: Pure White, for clarity and readability */

}

img {
    height: 150px;
    width: 145.75px;
    border-radius: 50%;
}

.about-div {
    margin-top: 150px;
    padding-left: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: var(--raisin-black);
    max-width: 50vw;
}

h2 {
    font-size: 75%;
    align-self: flex-start;
}

p {
    padding-left: 30px;
    font-size: 120%;
}